---
import ServiceLayout from '../layouts/ServiceLayout.astro';
---

<ServiceLayout pageTitle="Name | Contact Us">
  <section
    id="hero"
    class="bg-slate-950 text-white pt-40 min-h-screen pb-20 mb-20"
  >
    <h2 class="text-3xl font-bold text-center mb-6">Contact Us</h2>
    <p class="text-center mb-8 text-gray-400 mx-20">
      We'd love to hear from you! Reach out to us for inquiries, or
      details. We will follow up as soon as possible to help!
    </p>

    <div class="flex flex-col items-center justify-center gap-4">
      <a
        class="p-6 rounded-md bg-slate-800 hover:bg-slate-600 w-56"
        href="tel:860-983-9218"
        ><i class="bi bi-telephone-fill text-green-500"></i><span
          class="mx-4">Call Amanda</span
        ></a
      >
      <a
        class="p-6 rounded-md bg-slate-800 hover:bg-slate-600 w-56"
        href="tel:860-833-7606"
        ><i class="bi bi-telephone-fill text-green-500"></i><span
          class="mx-4">Call Zach</span
        ></a
      >
      <a
        class="p-6 rounded-md bg-slate-800 hover:bg-slate-600 w-56"
        href="mailto:test@test.com"
        ><i class="bi bi-envelope-at-fill text-green-500"></i><span
          class="mx-4">Email Us</span
        ></a
      >
    </div>
    <div class="pt-20">
      <h4 class="text-2xl font-bold text-center mb-6">
        Or Leave a message and we will contact you
      </h4>
      <form
        id="contactForm"
        class="max-w-sm mx-auto px-2"
        onsubmit="return validateForm()"
      >
        <div class="mb-5">
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Your Name</label
          >
          <input
            type="text"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
        </div>
        <div class="mb-5">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Your Email</label
          >
          <input
            type="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div class="mb-5">
          <label
            for="phone"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Your Phone</label
          >
          <input
            type="text"
            id="phone"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <div class="mb-5">
          <label
            for="contact"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Who would you like to speak to?</label
          >
          <select
            id="contact"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option value="Amanda">Amanda</option>
            <option value="Zach">Zach</option>
          </select>
        </div>
        <div class="mb-5">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Leave a message</label
          >
          <textarea
            placeholder="Provide reason for contact"
            id="message"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required></textarea>
        </div>

        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Submit
        </button>
      </form>
    </div>
  </section>
</ServiceLayout>

<style>
  #hero {
    background-image: url('/images/bg.svg');
    background-size: cover;
    background-position: center;
  }
</style>
