---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Name | Home">
  <section
    class="flex items-center justify-center h-screen text-white antialiased"
    id="hero"
  >
    <div class="text-center p-8">
      <h1 class="text-4xl md:text-5xl font-bold mb-4">
        Welcome to Our Website
      </h1>
      <p class="text-lg md:text-xl mb-8">
        We specialize in providing reliable immigration assistance
        within the USA, helping individuals navigate complex processes
        with ease. Additionally, we offer professional web development
        services, creating modern, user-friendly websites tailored to
        your needs. Your success is our priority!
      </p>

      <a
        href="#meet"
        class="inline-block px-6 py-3 bg-white text-blue-500 font-semibold rounded-lg shadow-lg hover:bg-gray-100 transition duration-300"
      >
        Learn More
      </a>
    </div>
  </section>

  <div
    class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center"
    id="meet"
  >
    <div class="w-full lg:w-1/2">
      <div class="lg:max-w-lg">
        <h1
          class="text-3xl font-semibold tracking-wide text-gray-800 lg:text-4xl"
        >
          Meet Amanda
        </h1>
        <p class="mt-4 text-gray-600">
          With over 4 years of experience working with clients, and
          being a naturalized citizen of the United States, Amanda
          understands the importance of immigration and the process of
          getting one approved. She is passionate, knowledgable and
          capable of completing immigration forms, paperwork, and
          helping you and your family fast track to becoming a
          naturalized citizen.
        </p>
      </div>
    </div>

    <div
      class="flex items-center justify-center w-full h-96 lg:w-1/2"
    >
      <img
        class="object-cover w-full h-full max-w-2xl rounded-md"
        src="https://images.unsplash.com/photo-1555181126-cf46a03827c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
        alt="glasses photo"
      />
    </div>
  </div>

  <div
    class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center"
  >
    <div class="w-full lg:w-1/2">
      <div class="lg:max-w-lg">
        <h1
          class="text-3xl font-semibold tracking-wide text-gray-800 lg:text-4xl"
        >
          Meet Zach
        </h1>
        <p class="mt-4 text-gray-600">
          With over 10 years of web development, database management,
          and notorial accreditation, Zach has been at the forefront
          of the leading web technologies. He is a passionate
          developer who is always looking for new challenges and
          opportunities to learn and grow. He specialized in many of
          the tools one would need to create interactive, styalized,
          and dynamic websites.
        </p>
      </div>
    </div>

    <div
      class="flex items-center justify-center w-full h-96 lg:w-1/2"
    >
      <img
        class="object-cover w-full h-full max-w-2xl rounded-md"
        src="https://images.unsplash.com/photo-1555181126-cf46a03827c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
        alt="glasses photo"
      />
    </div>
  </div>
</Layout>

<style>
  #hero {
    background-image: url('/images/bg1.webp');
    background-size: cover;
    background-position: center;
  }
</style>
