<script>
  let scrollPosition = 0;

  function updateScrollPosition() {
    scrollPosition = window.scrollY;
    const header = document.querySelector('header');
    if (header) {
      if (scrollPosition > 60) {
        header.classList.add('hidden');
      } else if (scrollPosition > 100) {
        header.classList.remove('hidden'); // Optional: Ensure header is visible
      } else {
        header.classList.remove('backdrop-blur-md', 'hidden');
      }
    }
  }

  if (typeof window !== 'undefined') {
    window.addEventListener('scroll', updateScrollPosition);
  }
</script>

<header class="fixed w-full z-10">
  <nav class="flex items-center justify-between p-4">
    <div class="relative text-white text-2xl font-bold">
      <a href="/" class="relative inline-block">
        <img src="images/seal.png" class="h-12" alt="" />
        <span
          class="absolute inset-0 flex items-center text-sm justify-center text-white"
          >AZ</span
        >
      </a>
    </div>
    <div class="space-x-2">
      <a
        href="/"
        class="text-white hover:text-gray-200 transition duration-300"
        >Home</a
      >
      <a
        href="/services"
        class="text-white hover:text-gray-200 transition duration-300"
        >Services</a
      >
      <a
        href="/contact"
        class="text-white hover:text-gray-200 transition duration-300"
        >Contact</a
      >
    </div>
  </nav>
</header>
